body {
  background: #9ded86;
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

h1 {
  color: white;
}

.game-board {
  padding: 25px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-width: 700px;
}

.hearts-and-time {
  color: white;
  display: inline;
  font-size: 20px;
}

.hearts {
  float: left;
  padding-left: 1.5%;
}

.time {
  float: right;
  padding-right: 5%;
}

.all-game-tiles {
  clear: both;
}

.game-tile span {
  font-size: 2em;
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 20px;
}

.game-tile  {
  margin: 5px;
  box-sizing: border-box;
  padding: 1em;
  display: inline-block;
  width: 15%;
  background: #51cee7;
  color: white;
  vertical-align: top;
  border-radius: 0.5em;
  float: left;
  position: relative;
}

.checkbox {
  opacity: 0;
}

.checkbox:checked + span {
  display: none;
}

.game-tile:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.game-tile:before {
  content: '';
  float: left;
  padding-top: 100%;
  width: 0;
}
